{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista de Tickets {% endblock title %}

{% block stylesheets %}
{{ block.super }}

<style>

</style>
{% endblock stylesheets %}

{% block content %}
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Tickets</h2>
										<p>Lista de Tickets</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button  class="btn">
                                        <a style="color: white;" href="{% url 'add_ticket' %}">Agregar Ticket</a>
                                    </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">								
									<div class="breadcomb-ctn">
										<h2>Seleccione un servicio</h2>
										<p>Debes seleccionar primero un servicio para ver la cola de dicho servicio..</p>
                                            <select id="change_servicio" data-live-search="true" class="selectpicker">
                                                    <option>--------------------------------</option>
                                                    {% for s in servicio %}
                                                    <option  value={{ s.pk}}>{{ s.nombre_servicio }}</option>
                                                    {% endfor %}
                                                </select>
									</div>                                   
								</div>                                                             
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Lista</h2>
                        </div>
                        <div class="table-responsive">
                                <table id="list_tikect" class="table table-bordered table-hover">
                                  <thead>
                                  <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Cédula</th>
                                    <th>Servicio</th>
                                    <th>Prioridad</th>
                                    <th>Acciones</th>
                                  </tr>
                                  </thead>
                                  <tbody>                   
                                  </tbody>   
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script>
    $(function () {

        $(".chosen").chosen({
            width: "100%",
            allow_single_deselect: !0
        });

        $('input').on("cut copy paste",function(e) {
            e.preventDefault();
        });

        var get_list = function (busqueda) {
            $("#list_tikect").DataTable({
                destroy: true,              
                searching: true,
                pageLength: 10,
                ajax: {
                    url: "/cola/get_cola/",
                    type: 'GET',
                    datatype: 'json',
                    data: {'busqueda': busqueda},
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'
                    }
                },
                columns: [
                    {
                        name: 'Nombres',
                        data: 'nombre',
                    },
                    {
                        name: 'Apellidos',
                        data: 'apellido',
                    },
                    {
                        name: 'Cédula',
                        data: 'cedula',
                    },                                    
                    {
                        name: 'Servicio',
                        data: 'servicio',
                    },
                    {
                        name: 'Prioridad',
                        data: 'prioridad',
                    },
                    {
                        name: 'Acciones',
                        data: 'id',
                        render: function (data) {

                            var buttons = "";

                      
                            buttons += '<button class="btn btn-warning" style="margin-right: 0.5rem">\
                                            <a href="/tickect/mostrar/' + data + '/" target="_blank" style="color: white">\
                                                Mostrar\
                                            </a>\
                                        </button>';
                            buttons += '<button class="btn btn-danger">\
                                            <a href="/cola/eliminar/' + data + '/"  style="color: white">\
                                                Eliminar\
                                            </a>\
                                        </button>';                           

                            return buttons;
                        }
                    }

                ],
                columnDefs: [{
                    targets: [0,1,2,3,4, 5], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                ordering: false,
                serverSide: false,
                language: {                    
                    decimal: "",
                    emptyTable: "Sin resultados encontrados",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        $("#change_servicio").change(function(){
            var query = $(this).val()
            get_list(query);
        })
        var query = ""        
        get_list(query);

        {% if messages %}
          {% for message in messages %}
            var text = "{{ message }}";
            add_edit_registro(text);
          {% endfor %}
        {% endif %}
    })
</script>


{% endblock javascripts %}