{% extends "base/base.html" %}
{% load static %}

{% block title %} Ver Pantalla{% endblock title %}

{% block stylesheets %}
{{ block.super }}

<style>

</style>
{% endblock stylesheets %}


{% block content %}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-form"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Pantalla</h2>
                                    <p>Ver turnos en la pantalla</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="invoice-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="invoice-wrap">
                        <div class="invoice-img">
                            <h1>TURNOS</h1>
                        </div>
                        <div class="invoice-hds-pro">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="invoice-cmp-ds ivc-frm">
                                        <div class="comp-tl">
                                            <h2>Nombres</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>Apellidos</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>Servicio</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>Numero Orden</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="invoice-cmp-ds ivc-to">
                                        <div class="comp-tl">
                                            <h2>{{ cola.persona.nombre }}</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>{{ cola.persona.apellido }}</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>{{ cola.servicio.nombre_servicio }}</h2>
                                        </div>
                                        <div class="comp-tl">
                                            <h2>{{ cola.pk }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                                         
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}