{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista de Clientes {% endblock title %}

{% block stylesheets %}
{{ block.super }}

<style>

</style>
{% endblock stylesheets %}

{% block content %}
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Clientes</h2>
										<p>Lista de Clientes</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button class="btn">
                                        <a style="color: white;" href="{% url 'add_cliente' %}">Agregar Cliente</a>
                                    </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Lista de Clientes</h2>
                        </div>
                        <div class="table-responsive">
                                <table id="list_cliente" class="table table-bordered table-hover">
                                  <thead>
                                  <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Cédula</th>
                                    <th>Telefono</th>
                                    <th>Dirección</th>
                                    <th>Ciudad</th>
                                    <th>Acciones</th>
                                  </tr>
                                  </thead>
                                  <tbody>                   
                                  </tbody>   
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script>
    $(function () {
        $('input').on("cut copy paste",function(e) {
            e.preventDefault();
        });

        var get_list = function (busqueda) {
            $("#list_cliente").DataTable({
                destroy: true,               
                searching: true,
                pageLength: 10,
                ajax: {
                    url: "/cliente/get_list_client/",
                    type: 'GET',
                    datatype: 'json',
                    data: {'busqueda': busqueda},
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'
                    }
                },
                columns: [
                    {
                        name: 'Nombres',
                        data: 'nombre',
                    },
                    {
                        name: 'Apellidos',
                        data: 'apellido',
                    },
                    {
                        name: 'Cédula',
                        data: 'cedula',
                    },
                    {
                        name: 'Telefono',
                        data: 'telefono',
                    },
                    {
                        name: 'Dirección',
                        data: 'direccion',
                    },
                    {
                        name: 'Ciudad',
                        data: 'ciudad',
                    },
                    {
                        name: 'Acciones',
                        data: 'id',
                        render: function (data) {

                            var buttons = "";
                        
                                buttons +=  '<button class="btn btn-warning">\
                                                        <a href="/cliente/editar/' + data + '/" style="color: black">\
                                                            Editar\
                                                        </a>\
                                                    </button>';
                    
                            return buttons;
                        }
                    }

                ],
                columnDefs: [{
                    targets: [3, 4, 6], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {                    
                    decimal: "",
                    emptyTable: "Sin resultados encontrados",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""
        
        get_list(query);
    })
</script>


{% endblock javascripts %}