{% extends "base/base.html" %}
{% load static %}

{% block title %} Inicio {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<style>

</style>
{% endblock stylesheets %}

{% block content %}
<div class="row row-deck row-cards">
    <div class="pt-4 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
              <img src="{% static 'base/img/illustration-2.png' %}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" 
               alt="..." data-aos="fade-up" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
  
              <!-- Heading -->
              <h1 class="display-3 text-center text-md-start">
                Bienvenido a <span class="text-primary">Turnero</span>. <br>
                Exclusivo, para encolar los servicios.
              </h1>
  
              <!-- Text -->
              <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                Esta aplicacion web, es turnero que encola de forma basica los turnos que se dan a los Clientes.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-start d-none">
                <a href="https://gitlab.com/joseiba/turnero" target="_blank" class="btn btn-primary shadow lift me-1">
                  Gitlab <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
                </a>              
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}
{% endblock javascripts %}