{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TURNERO</title>

  {% block stylesheets %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Turnero</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
      ============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <!-- Google Fonts
      ============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
  <!-- Bootstrap CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/font-awesome.min.css' %}">
  <!-- owl.carousel CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/owl.transitions.css' %}">
  <!-- meanmenu CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/meanmenu/meanmenu.min.css' %}">
  <!-- animate CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/animate.css' %}">
  <!-- normalize CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
  <!-- mCustomScrollbar CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <!-- jvectormap CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/jvectormap/jquery-jvectormap-2.0.3.css' %}">
  <!-- notika icon CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/notika-custom-icon.css' %}">
  <!-- wave CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/wave/waves.min.css' %}">
  <!-- main CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
  <!-- style CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/style.css' %}">
  <!-- responsive CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/responsive.css' %}">

  <link rel="stylesheet" href="{% static 'base/css/bootstrap-select/bootstrap-select.css' %}">
  <!-- datapicker CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/datapicker/datepicker3.css' %}">
  <!-- Color Picker CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/color-picker/farbtastic.css' %}">
  <!-- main CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/chosen/chosen.css' %}">
  <!-- notification CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/notification/notification.css' %}">
  <!-- dropzone CSS
      ============================================ -->
  <link rel="stylesheet" href="{% static 'base/css/dropzone/dropzone.css' %}">

  <link rel="stylesheet" href="{% static 'base/css/jquery.dataTables.min.css' %}">

    {% endblock stylesheets%}
</head>

{% block body %}
<body>
    <div class="wrapper">

        {% block header %}
            {% include 'base/header.html' %}
        {% endblock header %}          

        {% block navbar_responsive %}
            {% include 'base/navbar-responsive.html' %}
        {% endblock navbar_responsive %}          

        {% block navbar_web %}
            {% include 'base/navbar-web.html' %}
        {% endblock navbar_web %}          

        <div>
            <!-- Content Wrapper. Contains page content -->
            {% block content %}
            {% endblock content%}
        </div>

            <!-- Main Footer -->
            {% block footer %}

    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2023
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}
    </div>
    <!-- ./wrapper -->
    
    {% block javascripts %} 
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="{% static 'base/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'base/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'base/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery-price-slider.js' %}"></script>
    <script src="{% static 'base/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'base/js/meanmenu/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'base/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'base/js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'base/js/counterup/counterup-active.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'base/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="{% static 'base/js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'base/js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'base/js/jvectormap/jvectormap-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'base/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'base/js/sparkline/sparkline-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'base/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'base/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'base/js/flot/curvedLines.js' %}"></script>
    <script src="{% static 'base/js/flot/flot-active.js' %}"></script>
    <!-- knob JS
		============================================ -->
    <script src="{% static 'base/js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'base/js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'base/js/knob/knob-active.js' %}"></script>
    <!--  wave JS
		============================================ -->
    <script src="{% static 'base/js/wave/waves.min.js' %}"></script>
    <script src="{% static 'base/js/wave/wave-active.js' %}"></script>
    <!--  todo JS
		============================================ -->
    <script src="{% static 'base/js/todo/jquery.todo.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'base/js/plugins.js' %}"></script>
	<!--  Chat JS
		============================================ -->
    <script src="{% static 'base/js/chat/moment.min.js' %}"></script>
    <script src="{% static 'base/js/chat/jquery.chat.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'base/js/main.js' %}"></script>

       <!-- icheck JS
		============================================ -->
        <script src="{% static 'base/js/icheck/icheck.min.js' %}"></script>
        <script src="{% static 'base/js/icheck/icheck-active.js' %}"></script>
        <!-- rangle-slider JS
            ============================================ -->
        <script src="{% static 'base/js/rangle-slider/jquery-ui-1.10.4.custom.min.js' %}"></script>
        <script src="{% static 'base/js/rangle-slider/jquery-ui-touch-punch.min.js' %}"></script>
        <script src="{% static 'base/js/rangle-slider/rangle-active.js' %}"></script>
        <!-- datapicker JS
            ============================================ -->
        <script src="{% static 'base/js/datapicker/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'base/js/datapicker/datepicker-active.js' %}"></script>
        <!-- bootstrap select JS
            ============================================ -->
        <script src="{% static 'base/js/bootstrap-select/bootstrap-select.js' %}"></script>
        <!--  color-picker JS
            ============================================ -->
        <script src="{% static 'base/js/color-picker/farbtastic.min.js' %}"></script>
        <script src="{% static 'base/js/color-picker/color-picker.js' %}"></script>
        <!--  notification JS
            ============================================ -->
        <script src="{% static 'base/js/notification/bootstrap-growl.min.js' %}"></script>
        <script src="{% static 'base/js/notification/notification-active.js' %}"></script>
        <!--  summernote JS
            ============================================ -->
        <script src="{% static 'base/js/summernote/summernote-updated.min.js' %}"></script>
        <script src="{% static 'base/js/summernote/summernote-active.js' %}"></script>
        <!-- dropzone JS
            ============================================ -->
        <script src="{% static 'base/js/dropzone/dropzone.js' %}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="{% static 'base/js/wave/waves.min.js' %}"></script>
        <script src="{% static 'base/js/wave/wave-active.js' %}"></script>
        <!--  chosen JS
            ============================================ -->
        <script src="{% static 'base/js/chosen/chosen.jquery.js' %}"></script>
         <!-- plugins JS
		============================================ -->
        <script src="{% static 'base/js/plugins.js' %}"></script>

          <!-- Data Table JS
		============================================ -->
        <script src="{% static 'base/js/data-table/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'base/js/data-table/data-table-act.js' %}"></script>
	<!-- tawk chat JS
		============================================ -->
        <!-- <script src="{% static 'base/js/tawk-chat.js' %}"></script> -->
    <script src="{% static 'base/js/common.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
    {% endblock javascripts %}       
    </script>
</body>
{% endblock body %}
</html>