<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <h1 style="color: white;">Turnero</h1>
                </div>
            </div>
        </div>
    </div>
</div>