<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active"><a href="{% url 'index' %}"><i class="notika-icon notika-house"></i> Inicio</a>
                    </li>
                    <li><a data-toggle="tab" href="#Cliente"><i class="notika-icon notika-support"></i> Cliente</a>
                    </li>
                    <li><a data-toggle="tab" href="#Ticket"><i class="notika-icon notika-edit"></i> Ticket</a>
                    </li>                  
                </ul>
                <div class="tab-content custom-menu-content">                   
                    <div id="Cliente" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li><a href="{% url 'list_clientes' %}">Lista de Clientes</a></li>
                            <li><a href="{% url 'add_cliente' %}">Agregar Cliente</a></li> 
                        </ul>
                    </div>
                    <div id="Ticket" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li><a href="{% url 'ver_cola_servicio' %}">Lista de Tickets</a></li>
                            <li><a href="{% url 'add_ticket' %}">Agregar Ticket</a></li>
                        </ul>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>