<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a href="{% url 'index' %}">Inicio</a>                                
                            </li>
                            <li><a data-toggle="collapse" data-target="#demoevent" href="#">Cliente</a>
                                <ul id="demoevent" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list_clientes' %}">Lista de Clientes</a></li>
                                   <li><a href="{% url 'add_cliente' %}">Agregar Cliente</a></li> 
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#democrou" href="#">Tickect</a>
                                <ul id="democrou" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'ver_cola_servicio' %}">Lista  de Tickets</a></li>
                                    <li><a href="{% url 'add_ticket' %}">Agregar Ticket</a></li>
                                </ul>
                            </li>                          
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>